.repo-container{
    background-image: linear-gradient(43deg, #B9B4C7 0%, #FAF0E6 36%, #B9B4C7 100%);
    height: 100vh;
    width: 100%;
    /* display:flex;
    flex-direction: column; */
    overflow: scroll;
}
.repo-wrapper{
    border:1px solid #9b7df6;
    padding:5rem;
    /* height: 35rem;
    width:50rem; */
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.main-wrapper{
    /* border:1px solid #5d596a; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:3rem;
    /* margin-top:5rem; */
    /* height: 30rem;
    width:50rem; */
}
.repo-wrapper>h1{
    color:#4c455f;
    padding:2rem;
    align-items: center;
}
.repo-wrapper>p{
    color:#4c455f;
    padding:2rem 2rem;
}
.repo-back{
    font-size: 1.3rem;
    padding:0.3rem 0.5rem;
    border:1px solid #9b7df6;
    margin-left:3rem;
    text-decoration: none;
    color:#4c455f;
    border-radius: 10px;
    font-weight: 700;
}
.repo-back:hover{
    background-color: #4c455f;
    color:#FAF0E6;
}
.repo-back-2{
    font-size: 1.3rem;
    padding:0.3rem 0.5rem;
    border:1px solid #9b7df6;
    margin-left:3rem;
    text-decoration: none;
    color:#4c455f;
    border-radius: 10px;
    font-weight: 700;
}
.repo-back-2:hover{
    background-color: #4c455f;
    color:#FAF0E6;
}